[tool.poetry]
name = "leetcode"
version = "0.1.0"
description = ""
authors = ["tady <a.dat.jp@gmail.com>"]

[tool.poetry.dependencies]
python = "^3.8"

[tool.poetry.dev-dependencies]
black = "^20.8b1"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
